* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  color: black;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  user-select: none;
}

.page {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.box {
  border-style: solid;
  border-width: 10px;
  border-color: white;
}

.box.faded-out {
  opacity: 0;
  transform: scale(1.025) rotate(30deg);
}
