* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  color: white;
  background-color: black;
  user-select: none;
  font-family: 'Comic Neue', cursive;
  font-style: normal;
}

h1 {
  font-size: 3rem;
}

.box {
  border-style: solid;
  border-width: 10px;
  border-color: white;
}

.box.faded-out {
  opacity: 0;
  transform: scale(1.025);
}

.gallery {
  margin: 10vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-title {
  margin-bottom: 75px;
  transform: skew(28deg, 357deg);
  text-shadow: 2px 2px rgba(246, 255, 0, 0.175);
}

.gallery .box {
  border-radius: 2px;
  box-shadow:
    rgba(196, 69, 69, 0.25) 0 54px 55px,
    rgba(243, 228, 22, 0.12) 0 -12px 30px,
    rgba(0, 0, 0, 0.12) 0 4px 6px,
    rgba(0, 0, 0, 0.17) 0 12px 13px,
    rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.gallery-items {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  padding-bottom: 100px;
}

.gallery-item {
  position: relative;
  width: 50%;
  height: 100%;
}

.gallery-item-img {
  width: 100%;
}

.gallery-item-title {
  position: absolute;
  bottom: 0;
  left: 10px;
  background-color: rgba(128, 128, 128, 0.75);
  padding: 5px;
  font-size: 1.75rem;
}

.nav {
  position: fixed;
  top: 25px;
  left: 25px;
  border-radius: 50%;
  background-color: gray;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  z-index: 2;
  cursor: pointer;
}

.page {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.about {
  padding: 100px;
  text-align: center;
  font-size: larger;
}

.about img {
  width: 150px;
}

.hidden {
  display: none;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

a {
  color: yellowgreen;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Portrait */
@media only screen and (width <= 1280px) and (orientation: portrait) {
  .gallery-title {
    margin-bottom: 50px;
    margin-top: 75px;
  }
}
