* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  color: white;
  background-color: black;
  user-select: none;
  font-family: 'Comic Neue', cursive;
  font-style: normal;
}

h1 {
  font-size: 3rem;
}

.gallery {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-items {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.gallery-item {
  width: 50%;
  height: 100%;
}

.gallery-item-img {
  width: 100%;
}

.nav {
  position: fixed;
  top: 25px;
  left: 25px;
  border-radius: 50%;
  background-color: gray;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  z-index: 2;
}

.page {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.box {
  border-style: solid;
  border-width: 10px;
  border-color: white;
}

.box.faded-out {
  opacity: 0;
  transform: scale(1.025);
}

.hidden {
  display: none;
}
